<ngu-tab-group>
  <ngu-tab-content tabName="tab1">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet beatae
      perferendis corporis necessitatibus. Fugit nobis, suscipit, quos doloribus
      deserunt, aperiam tenetur maiores labore officia repellendus inventore
      molestiae. Iusto, illo recusandae.
    </p>
  </ngu-tab-content>
  <ngu-tab-content tabName="tab2">
    <p>
      123 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet beatae
      perferendis corporis necessitatibus. Fugit nobis, suscipit, quos doloribus
      deserunt, aperiam tenetur maiores labore officia repellendus inventore
      molestiae. Iusto, illo recusandae.
    </p>
  </ngu-tab-content>
</ngu-tab-group>
